<div class="flex-row">
    <div >
        <img #image class="rounded-[1.6em] w-[56rem] h-[25rem]" src="../../../assets/img/pads/1.png" alt=""> <!--Imagen-->
    </div>
    <div class="flex justify-center p-[1.5rem] gap-[.25rem] h-[4.41rem]">
        <div #select1 class="rounded-[50%] w-[1.2rem] h-[1.2rem] border-[.1rem] border-[#ECE8DC] hover:w-[1.4rem] hover:h-[1.4rem]" id="select-1"></div>
        <div #select2 class="rounded-[50%] w-[1.2rem] h-[1.2rem] border-[.1rem] border-[#ECE8DC] hover:w-[1.4rem] hover:h-[1.4rem]" id="select-2"></div>
    </div>
</div>