<div class="max-w-[40rem] max-h-[22rem]" [routerLink]="['/item-view', 2]" routerLinkActive="activebutton">
  <!--Main-->
  <div class="mt-[1.5rem]">
    <!--div elemento-->
    <div class="cursor-pointer">
      <img
        class="rounded-[1.6rem]"
        src="../../../../assets/img/pads/1.png"
        alt="Foto PadMouse"
      />
    </div>
    <div
      class="flex-row text-white font-['Montserrat'] text-[2.4rem] m-0 p-[.5rem]"
    >
      <div class="flex justify-end">
        <p class="mr-[1rem] font-bold">Cadaver 1</p>
        <!--nombre item-->
      </div>
      <div class="flex justify-end">
        <p class="mr-[1rem]"><span>$</span>39,99</p>
        <!--div elemento-->
      </div>
    </div>
  </div>
</div>
