<div class=""><!--Derecha-->
    <div class="mb-[10rem]"><!--Galeria-->
      <p
        class="text-white font-['Montserrat'] text-[3.2rem] max-[1400px]:text-[2.8rem] font-bold w-full"
      >
        <!--Nombre Principal-->
        Divino cadaver
      </p>
      <div
        class="h-full grid grid-cols-3 gap-x-[4rem] gap-y-[6rem] max-[1000px]:grid-cols-2 max-[712px]:grid-cols-1"
      >
        <!--Main grid-->
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
      </div>
    </div>
    <div><!--Galeria-->
      <p
        class="text-white font-['Montserrat'] text-[3.2rem] max-[1400px]:text-[2.8rem] font-bold"
      >
        <!--Nombre Principal-->
        Divino cadaver
      </p>
      <div
        class="h-full grid grid-cols-3 gap-x-[4rem] gap-y-[6rem] max-[1000px]:grid-cols-2 max-[712px]:grid-cols-1"
      ><!--Main grid-->
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      </div>
    </div>
  </div>
