<div class="flex gap-[2.5rem]">
  <div class="basis-[55%] flex flex-col gap-y-[3.2rem]">
    <!--izquierda-->
    <div
      class="border-[.1rem] h-[18.2rem] flex-row pl-[.8rem] pr-[4rem] border-[#ECE8DC] rounded-[.8rem]"
    >
      <!--casilla 1-->
      <div
        class="flex border-b-[.1rem] h-1/3 border-[#ECE8DC] justify-center items-end p-[.6rem]"
      >
        <p class="text-[#ECE8DC] font-bold text-[1.8rem] basis-[20%]">
          Contact
        </p>
        <span class="text-[#ECE8DC] text-[1.8rem] basis-[60%]"
          >mail&#64;personalmail.com</span
        >
        <p class="text-[#2DC7F8] text-[1.6rem] basis-[20%] flex justify-end">
          change
        </p>
      </div>
      <div
        class="flex border-b-[.1rem] h-1/3 border-[#ECE8DC] justify-center items-end p-[.6rem]"
      >
        <p class="text-[#ECE8DC] font-bold text-[1.8rem] basis-[20%]">
          Ship to
        </p>
        <span class="text-[#ECE8DC] text-[1.8rem] basis-[60%]"
          >Adress 1, St 20, 10110, City, Country</span
        >
        <p class="text-[#2DC7F8] text-[1.6rem] basis-[20%] flex justify-end">
          change
        </p>
      </div>
      <div
        class="flex h-1/3 border-[#ECE8DC] justify-center items-end p-[.6rem]"
      >
        <p class="text-[#ECE8DC] font-bold text-[1.8rem] basis-[20%]">
          Contact
        </p>
        <span class="text-[#ECE8DC] text-[1.8rem] basis-[80%]"
          >Courier Company Name - Price</span
        >
      </div>
    </div>
    <div class="flex-row">
      <!--casilla 2-->
      <p class="text-[1.8rem] font-bold text-[#ECE8DC]">Payment</p>
      <p class="text-[#ECE8DC] text-[1.6rem]">
        Transactions are securo and + info
      </p>
      <div
        class="h-[20rem] border-[.1rem] border-[#ECE8DC] rounded-[.8rem] pl-[.8rem] pr-[4rem]"
      >
        <div
          class="flex border-b-[.1rem] h-1/4 border-[#ECE8DC] justify-start radio-button-container "
        >
          <div class="radio-button self-end">
            <input
              type="radio"
              class="radio-button__input"
              id="radio1"
              name="radio-group"
            />
            <label class="radio-button__label text-[1.8rem] font-normal text-[#ECE8DC]" for="radio1">
              <span class="radio-button__custom"></span>
              Credit card
            </label>
          </div>
        </div>
        <div
          class="flex border-b-[.1rem] h-1/4 border-[#ECE8DC] justify-start radio-button-container "
        >
          <div class="radio-button self-end">
            <input
              type="radio"
              class="radio-button__input"
              id="radio2"
              name="radio-group"
            />
            <label class="radio-button__label text-[1.8rem] font-normal text-[#ECE8DC]" for="radio2">
              <span class="radio-button__custom"></span>
              PayPal
            </label>
          </div>
        </div>
        <div
          class="flex border-b-[.1rem] h-1/4 border-[#ECE8DC] justify-start radio-button-container "
        >
          <div class="radio-button self-end">
            <input
              type="radio"
              class="radio-button__input"
              id="radio3"
              name="radio-group"
            />
            <label class="radio-button__label text-[1.8rem] font-normal text-[#ECE8DC]" for="radio3">
              <span class="radio-button__custom"></span>
              GooglePay
            </label>
          </div>
        </div>
        <div
          class="flex h-1/4 border-[#ECE8DC] justify-start radio-button-container "
        >
          <div class="radio-button self-end">
            <input
              type="radio"
              class="radio-button__input"
              id="radio4"
              name="radio-group"
            />
            <label class="radio-button__label text-[1.8rem] font-normal text-[#ECE8DC]" for="radio4">
              <span class="radio-button__custom"></span>
              ApplePay
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row">
        <!--casilla 3-->
        <p class="text-[1.8rem] font-bold text-[#ECE8DC]">Billing address</p>
        <p class="text-[#ECE8DC] text-[1.6rem]">
          Transactions are securo and + info
        </p>
        <div
          class="h-[10.4rem] border-[.1rem] border-[#ECE8DC] rounded-[.8rem] pl-[.8rem] pr-[4rem]"
        >
          <div
            class="flex border-b-[.1rem] h-1/2 border-[#ECE8DC] justify-start radio-button-container "
          >
            <div class="radio-button self-end">
              <input
                type="radio"
                class="radio-button__input"
                id="radio2_1"
                name="radio-group2"
              />
              <label class="radio-button__label text-[1.8rem] font-normal text-[#ECE8DC]" for="radio2_1">
                <span class="radio-button__custom"></span>
                Same as shipping address
              </label>
            </div>
          </div>
          <div
            class="flex h-1/2 border-[#ECE8DC] justify-start radio-button-container "
          >
            <div class="radio-button self-end">
              <input
                type="radio"
                class="radio-button__input"
                id="radio2_2"
                name="radio-group2"
              />
              <label class="radio-button__label text-[1.8rem] font-normal text-[#ECE8DC]" for="radio2_2">
                <span class="radio-button__custom"></span>
                Use a different billing address
              </label>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="basis-[45%]"> <!--Derecha-->
    <app-cart-view></app-cart-view>
    <app-cart-view></app-cart-view>
    <app-cart-view></app-cart-view>
  </div>
</div>
