<div class="pb-[.8rem]">
    <div class="border-[.1rem] rounded-[.8rem]">
        <div class="flex"> <!--izquierda-->
            <div class="basis-[55%] p-[1rem] relative">
                <img class="rounded-[1.6rem]" src="../../../assets/img/pads/5.png" alt="">
                <div class="flex flex-col align-middle pt-[1rem]">
                    <p class="text-[#ECE8DC] text-[1.6rem] font-['Montserrat']">Cadaver 6</p>
                    <p class="text-[#ECE8DC] text-[1.6rem] font-['Montserrat']">Large (Y”, YY”)</p>
                </div>
                <div class="absolute top-6 right-6 transform translate-x-[50%] -translate-y-[50%] bg-[#ECE8DC] w-[2rem] h-[2rem] rounded-full flex items-center justify-center">
                    <p class="text-[1.5rem]">1</p>
                </div>
            </div>
        <div class="basis-[45%] justify-end flex items-center p-[1rem]">
            <p class="text-[#ECE8DC] text-[2.4rem] font-['Montserrat']"><span>$</span>39,99</p>
        </div>
        </div>
        <div> <!--derecha-->
        
        </div>
        </div>
</div>

 