<div class="w-full mt-[-7.2rem] flex-row">
    <div class="w-full flex justify-center">
        <h2 class="text-[#ECE8DC] text-[3.2rem] font-['Montserrat'] font-bold">Benefits</h2>
    </div>
    <div class="flex gap-[2rem] mt-[4rem]">
        <div class="flex-row w-full">
            <div class="h-[40rem] w-[34rem] bg-cover bg-center bg-no-repeat rounded-[1.6rem]" style="background-image: url(../../../assets/img/pads/fiber.jpg)">
            </div>
            <div class="text-[#ECE8DC] font-['Montserrat'] flex-row w-[34rem]" >
                <p class="font-bold text-[2.8rem] flex justify-center">High quality fiber</p>
                <p class="text-[1.6rem] flex justify-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim morbi et sagittis, sagittis ac. </p>
            </div>
        </div>
        <div class="flex-row w-full">
            <div class="h-[40rem] w-[34rem] bg-cover bg-center bg-no-repeat rounded-[1.6rem]" style="background-image: url(../../../assets/img/pads/presicion.jpg)">
            </div>
            <div class="text-[#ECE8DC] font-['Montserrat'] w-[34rem]">
                <p class="font-bold text-[2.8rem] flex justify-center">Competitive precision</p>
                <p class="text-[1.6rem] flex justify-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim morbi et sagittis, sagittis ac. </p>
            </div>
        </div>
        <div class="flex-row w-full">
            <div class="h-[40rem] w-[34rem] bg-cover bg-center bg-no-repeat rounded-[1.6rem] " style="background-image: url(../../../assets/img/pads/colors.jpg)">
            </div>
            <div class="text-[#ECE8DC] font-['Montserrat'] w-[34rem]">
                <p class="font-bold text-[2.8rem] flex justify-center">Vibrant colors</p>
                <p class="text-[1.6rem] flex justify-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim morbi et sagittis, sagittis ac. </p>
            </div>
        </div>
        <div></div>
        <div></div>
    </div>
</div>